/*---------------------------*/

/*- #MAIN CSS ---------------*/

/*---------------------------*/

/*-----------------------*/

/*- #DEFAULTS -----------*/

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.wrapper-content {
    background: #f8f8f8;
}

.bread-crumbs {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sidebar .widget {
    margin-bottom: 30px !important;
    padding: 0;
    background: transparent;
    word-wrap: break-word;
}

.sidebar .section-nav-title {
    color: #15110F;
    text-transform: none;
}

textarea,
input,
select {
    border-width: 1px;
    border-color: #ddd;
    border-radius: 3px;
}

/*-------------------*/

/*- #BUTTONS --------*/

input[type="button"],
input[type="submit"],
button,
.button,
.form-submit input[type="submit"],
.product-top .button {
    background: #C57F35;
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px;
}

/*-------------------*/

/*- #TABLE ----------*/

table,
table th,
table td {
    border-width: 1px;
    font-size: 1.6rem;
}

table {
    padding: 10px;
    background: #fff;
}

/*-----------------------*/

/*- #HEADER -------------*/

.header-site {
    background-color: #fff;
}

.header-site .nav > ul > li > a {
    font-weight: 200;
    text-transform: uppercase;
}

/*-------------------*/

/*- #SUB MENU -------*/

.header-site .nav .sub-menu {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.header-site .nav .sub-menu li a {
    font-weight: 300;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.header-site .nav .sub-menu li:first-child a {
    border-radius: 4px 4px 0 0;
}

.header-site .nav .sub-menu li:last-child a {
    border-radius: 0 0 4px 4px;
}

/*-------------------*/

/*- #LOGO -----------*/

.site-logo-link + .site-description .sitename {
    text-transform: uppercase;
    font-size: 2rem;
}

.tagline {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 200;
}

/*-------------------*/

/*- #TITLE CONTAINER */

.title-container {
    background: #15110F;
}

.title-container .bread-crumbs,
.title-container .bread-crumbs a {
    color: rgba(255, 255, 255, 0.75);
}

.title-container .bread-crumbs a:hover {
    color: rgba(255, 255, 255, 1);
}

.title-container .heading {
    color: rgba(255, 255, 255, 1);
}

.title-container .excerpt {
    color: rgba(255, 255, 255, 0.8);
}

/*-----------------------*/

/*- #FOOTER -------------*/

.footer-site .section-nav-title {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 2rem;
    font-weight: 200;
}

.invert .row + .copyright {
    border-color: rgba(255, 255, 255, 0.15)
}

/*-----------------------*/

/*- #PAGINATION ---------*/

.pagination li {
    margin-right: 5px;
    border: none;
}

.pagination a,
.pagination span {
    padding: 8px 16px;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    color: #454545;
}

.pagination .current {
    background: none;
    border-color: rgba(0, 0, 0, 0.45);
    color: #000;
}

/*-----------------------*/

/*- #SHOPPING CART ------*/

.header-site:not(.invert) .header-cart {
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 2px 2px 0 transparent;
    border-radius: 6px;
    transition: box-shadow 0.1s ease-in-out, border 0.1s ease-in-out;
}

.header-site:not(.invert) .header-cart > .cart {
    color: #323232;
}

.header-site:not(.invert) .header-cart:hover {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.header-cart .cart-count {
    background: #C57F35;
    color: #fff;
}

.header-cart .cart .amount {
    font-size: 1.6rem;
}

.header-mini-cart {
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    font-size: 1.6rem;
}

.header-mini-cart .button {
    font-size: 1.2rem;
}

/*-----------------------*/

/*- #PRICE FILTER -------*/

.sidebar .widget_price_filter {
    padding-top: 2px;
}

/*----------------------*/

/*- #ICONS -------------*/

.wc-tabs .description_tab a:before,
.wc-tabs .additional_information_tab a:before,
.wc-tabs .reviews_tab a:before,
.widget_product_categories ul li:before,
.widget_recent_entries ul li:before,
.widget_pages ul li:before,
.widget_recent_comments ul li:before,
.widget_archive ul li:before,
.widget_categories ul li:before {
    font-family: 'layers-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 1.4rem;
    color: #C57F35;
    margin-right: 6px;
}

/* Clock */

.widget_archive ul li:before {
    content: "\f018";
}

/* Chat bubble */

.widget_recent_comments ul li:before,
.wc-tabs .reviews_tab a:before {
    content: "\f0e6";
}

/* Folder */

.widget_product_categories ul li:before,
.widget_categories ul li:before,
.wc-tabs .additional_information_tab a:before {
    content: "\f116";
}

/* Pages */

.widget_pages ul li:before {
    content: "\f0f6";
}

/* Pen */

.widget_recent_entries ul li:before,
.wc-tabs .description_tab a:before {
    content: "\f040";
}

/*--------------------------*/

/*- #BIG PRODUCT SEARCH BAR */

.page-template-builder .wrapper-content .widget.woocommerce.widget_product_search {
    max-width: none;
    background: #333;
}

.page-template-builder .wrapper-content .widget.woocommerce.widget_product_search form {
    max-width: 1000px;
    margin: auto;
}

.page-template-builder .wrapper-content .widget.woocommerce.widget_product_search input[type="search"] {
    float: left;
    width: 80%;
    height: 48px;
    max-width: none;
    margin-bottom: 0;
    padding: 0 20px;
    font-size: 1.8rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.page-template-builder .wrapper-content .widget.woocommerce.widget_product_search input[type="submit"] {
    width: 20%;
    height: 48px;
    background: rgba(0, 0, 0, 0.6);
    font-size: 1.6rem;
    text-transform: uppercase;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.page-template-builder .wrapper-content .widget.woocommerce.widget_product_search input[type="submit"]:hover {
    background: rgba(0, 0, 0, 1);
    color: #fff;
}

/*-----------------------*/

/*- #WOO DEFAULTS -------*/

.price {
    color: #769049;
}

.onsale {
    background-color: #E1574C;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 200;
}

.img-wrap .onsale {
    left: auto;
    right: 10px;
}

.cart-empty {
    padding: 20px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.woocommerce-result-count {
    font-size: 2rem;
    font-weight: 200;
}

.woocommerce-result-count-container {
    padding: 0 0 15px;
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.woocommerce-message,
.woocommerce-info {
    background: #fff;
    font-size: 1.6rem;
    border-radius: 6px;
}

.woocommerce.widget img {
    border-radius: 3px;
}

.footer-site .product_list_widget,
.footer-site del,
.footer-site ins,
.footer-site .amount {
    font-size: 1.4rem;
}

/*-------------------*/

/*- #PRODUCT LIST ---*/

.products .product {
    padding: 35px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.products .img-wrap {
    margin: -35px -35px 35px;
}

.products .product .price {
    font-size: 2rem;
}

.products .product:hover {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.products .button {
    margin-top: 20px;
}

/*-------------------*/

/*- #WOO WIDGETS ----*/

.product_list_widget a {
    font-weight: normal;
}

.tagcloud a {
    display: inline-block;
    padding: 0 6px;
    margin-bottom: 2px;
    border: 1px solid rgba(0, 0, 0, 0.45);
    border-radius: 6px;
    color: #000;
    font-size: 1.3rem !important;
    font-weight: 200;
    text-transform: uppercase;
}

.tagcloud a:hover {
    background: #C57F35;
    color: #fff;
    border-color: transparent;
}

.cart_list .quantity {
    font-size: 1.5rem;
    font-weight: 200;
}

.cart_list .remove + a {
    margin-bottom: 0;
}

.sidebar .widget_shopping_cart {
    font-size: 1.5rem;
}

/*-----------------------*/

/*- #PRODUCT PAGE -------*/

.product-top {
    padding: 20px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.product-images {
    margin-bottom: 0;
}

.product-images img {
    border-radius: 3px;
    transform: scale(1);
    transition: all ease-in-out 0.2s;
}

.thumbnails a,
.thumbnails a:nth-child(4n+4) {
    width: 16.8%;
    margin: 4% 4% 0 0;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: all ease-in-out 0.1s;
    overflow: hidden;
}

.thumbnails a:nth-child(5n+5) {
    margin-right: 0;
}

.thumbnails a:hover {
    border-color: #C57F35;
}

.thumbnails a:hover img {
    transform: scale(1.1);
}

.purchase-options-container {
    margin-bottom: 0;
}

.product-top .quantity {
    overflow: hidden;
}

.product-top .quantity .qty {
    height: 40px;
    border-radius: 3px;
}

.product-top .single_add_to_cart_button {
    height: 40px;
    padding: 0 20px;
    background: #C57F35;
    border: none;
    color: #fff;
}

.product-top table .label {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    color: #15110F;
}

.product-top table .value {
    display: block;
    width: 100%;
    padding: 0;
}

.variations_form .reset_variations {
    top: 0;
    bottom: auto;
    border-radius: 3px;
}

.product_meta {
    padding: 20px 0 0;
    background: transparent;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/*-------------------*/

/*- #WOOTABS --------*/

.woocommerce-tabs {
    margin: 20px 0 20px;
    padding: 20px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.woocommerce-tabs .tabs {
    padding: 0 20px;
    margin: 0 -20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

.woocommerce-tabs .tabs li {
    margin-right: 30px;
}

.woocommerce-tabs .tabs a {
    position: relative;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    font-weight: 400;
}

.woocommerce-tabs .tabs a:hover,
.woocommerce-tabs .tabs a.active  {
    background: transparent;
    border-bottom: 3px solid #C57F35;
    margin-bottom: -1px;
    z-index: 1;
}

.woocommerce-tabs .panel {
    margin: 30px 0 0;
    padding: 0;
    background: transparent;
}

.woocommerce-tabs .entry-content {
    font-size: 1.8rem;
    font-weight: 200;
}

.woocommerce-tabs .entry-content ul,
.woocommerce-tabs .entry-content ol {
    border: 0;
}

.woocommerce-tabs .comment-respond {
    margin: 0;
}

/*-------------------*/

/*- #WOO REVIEWS ----*/

.woocommerce-tabs #comments {
    float: left;
    width: 48%;
}

#reviews .comment {
    padding: 0;
    margin: 0 0 30px;
    background: transparent;
    border-bottom: none;
}

.avatar {
    border-radius: 100%;
}

#reviews .meta {
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#reviews strong[itemprop="author"] {
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1px;
}

#reviews time[itemprop="datePublished"] {
    font-size: 1.2rem;
    font-weight: normal;
}

/*-----------------------*/

/*- #CART / CHECKOUT ----*/

#ship-to-different-address,
.woocommerce-billing-fields h3,
.cart_totals h2 {
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.col2-set,
.woocommerce-checkout-review-order {
    padding: 40px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.woocommerce-checkout-review-order {
    border: 2px solid #C57F35;
}

.woocommerce-checkout-review-order table {
    border: none;
    box-shadow: none;
}

.woocommerce-checkout-review-order .product-total,
.woocommerce-checkout-review-order table tr td:last-child {
    text-align: right;
}

.woocommerce-checkout-review-order table th,
.woocommerce-checkout-review-order table td {
    padding: 10px 0;
}

.woocommerce-checkout-review-order .order-total td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/*-------------------*/

/*- #PAY METHODS ----*/

#order_review #payment {
    background: transparent;
}

#order_review .payment_methods li {
    padding-left: 0;
    padding-right: 0;
}

#order_review .form-row {
    padding: 0;
    margin-top: 20px;
}

#order_review .payment_box {
    padding: 20px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    font-size: 1.6rem;
}

/*-------------------*/

/*- #SELECT2 --------*/

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices,
.select2-drop.select2-drop-active,
.select2-drop.select2-drop-above.select2-drop-active,
.select2-container .select2-choice,
.select2-search input {
    border-width: 1px;
    border-radius: 3px;
    border-color: #ddd;
}

/*-----------------------*/

/*- #MY ACCOUNT PAGE ----*/

.myaccount_address,
.myaccount_user {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 2rem;
}

table.my_account_orders {
    margin-bottom: 30px;
}

.col-2.address {
    margin-top: 20px;
}

/*-----------------------*/

/*- #STOREKIT WIDGETS ---*/

/*-------------------*/

/*- #SEARCH ---------*/

.widget_product_search input[type="search"] {
    border-radius: 3px 0 0 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

.widget_product_search input[type="submit"] {
    text-transform: none;
    border-radius: 0 3px 3px 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

/*-------------------*/

/*- #PRODUCT LISTS --*/

.storekit-product-category-widget .thumbnail-media {
    border-radius: 6px;
}

.storekit-product-list-widget .thumbnail {
    border-radius: 6px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

/*-------------------*/

/*- #PRICE SLIDER ---*/

.price_slider_wrapper .ui-widget-content {
    background: rgba(0, 0, 0, 0.1);
}

.ui-slider .ui-slider-range {
    background-color: #000;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background: #C57F35;
}

.price_slider_amount .button {
    text-transform: none;
    font-weight: 600;
}

/*-----------------------*/

/*- #BLOG ---------------*/

.span-8 .post {
    padding: 40px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.span-8 .post .thumbnail {
    clear: both;
    margin: 40px -40px 40px;
}

.span-8 .post .section-title {
    margin: 0 0 20px;
}

.span-8 .post .copy {
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 2rem;
}

.meta-info {
    margin-bottom: 30px;
    color: #999;
}

.meta-info a {
    color: #999;
    text-decoration: underline;
}

.meta-info a:hover {
    color: #000;
}

.layers-content-widget .media-image img {
    border-radius: 6px;
}

.button-collection .button {
    margin-right: 8px;
}

.cart_list .quantity {
    clear: left;
}

/*----------------------------------*/

/*- #Desktop CSS -------------------*/

/*----------------------------------*/

@media only screen and (min-width: 769px) {
    /*-----------------------*/
    /*- #DEFAULTS -----------*/
    .container,
    .title-container .title {
        max-width: 1240px;
    }

    .swiper-container.container {
        max-width: 1240px;
    }

    .swiper-slide .copy-container {
        max-width: 1240px;
    }

    .content-main {
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .section-title.large .excerpt,
    .section-title.medium .excerpt {
        font-weight: 200;
    }

    .widget:not(.slide) .section-title {
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .space-header.widget .section-title {
        padding-bottom: 60px;
        margin-bottom: 60px;
    }

    .button {
        font-weight: 200;
    }

    .with-overlay .thumbnail-body {
        border-radius: 6px;
    }

    .with-overlay .button {
        color: #fff;
        border-width: 1px;
    }

    .sidebar .section-nav-title {
        padding: 0px 0px 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 2rem;
        font-weight: 200;
    }

    .sidebar .widget li,
    .sidebar .widget li:not(:last-child) {
        border-bottom: none;
    }

    .sidebar .widget .product_list_widget li {
        padding: 8px;
        background: rgb(255, 255, 255) none repeat scroll 0% 0%;
        border-radius: 6px;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    }

    .product_list_widget img {
        max-width: 70px;
    }

    .sidebar .amount {
        font-size: 1.5rem;
    }

    label {
        font-size: 1.8rem;
        font-weight: lighter;
        color: #000;
    }

    .swiper-container .arrows a {
        background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%;
        border-radius: 6px;
        padding: 8px;
    }

    body,
    .media.medium .excerpt {
        font-size: 1.6rem;
    }

    .media.large .excerpt {
        font-size: 2.2rem;
        font-weight: lighter;
    }

    .story {
        font-size: 1.8rem;
    }

    /*-----------------------*/
    /*- #FEATURE PRODUCT ----*/
    .feature-product .span-12 {
        padding: 0;
        box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        overflow: hidden;
    }

    .feature-product .span-12 .media {
        display: flex;
        align-items: center;
    }

    .feature-product .span-12 .media.image-right {
        flex-direction: row-reverse;
    }

    .feature-product .span-12 .media-image {
        max-width: 50%;
    }

    .feature-product .span-12 .media-body {
        max-width: 50%;
        padding: 0 40px;
    }

    /*-----------------------*/
    /*- #SECONDARY HEADER ---*/
    .header-secondary {
        background: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .header-secondary.invert nav a {
        color: rgba(0, 0, 0, 0.65);
        font-weight: normal;
        font-size: 1.4rem;
    }

    .header-secondary.invert nav a:hover {
        color: rgba(0, 0, 0, 1);
    }

    /*-----------------------*/
    /*- #MENU ---------------*/
    .header-inline .inline-left-nav {
        justify-content: flex-start;
    }

    .header-inline .inline-right-nav {
        justify-content: flex-end;
    }

    /*-----------------------*/
    /*- #PRODUCT PAGE -------*/
    div[itemprop="description"] {
        font-weight: 200;
    }

    /*-------------------*/
    /*- #WOO REVIEWS ----*/
    .woocommerce-tabs #comments + #review_form_wrapper {
        float: right;
        width: 48%;
    }

    .woocommerce-tabs .comment-reply-title {
        font-size: 2.2rem;
        margin-bottom: 16px;
    }

    /*-----------------------*/
    /*- #CHECKOUT PAGE ------*/
    #billing_address_1_field,
    #shipping_address_1_field {
        margin-bottom: 0;
    }

    #billing_address_1_field input,
    #shipping_address_1_field input {
        border-bottom-style: dotted;
        border-radius: 3px 3px 0 0;
    }

    #billing_address_2_field input,
    #shipping_address_2_field input {
        border-top-width: 0;
        border-radius: 0 0 3px 3px;
    }

    /*--------------------------*/
    /*- #LAYERS PRODUCT WIDGETS */
    .storekit-product-category-widget .thumbnail,
    .storekit-product-list-widget .thumbnail {
        text-align: center;
    }

    .storekit-product-list-widget .thumbnail.span-2 .thumbnail-body {
        padding: 10px;
    }

    .storekit-product-list-widget .thumbnail.span-2 .heading,
    .storekit-product-list-widget .thumbnail.span-2 .price {
        font-size: 1.5rem;
    }

    .storekit-product-list-widget .thumbnail.span-2 .button {
        font-size: 1.2rem;
        display: block;
    }

    .widget .price {
        font-size: 2rem;
    }

    .amount,
    del .amount {
        font-weight: 200;
    }

    /*----------------------*/
    /*- #COUPON ------------*/
    .coupon input[type="text"] {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .coupon .button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    /*-------------------*/
    /*- #FILTER PRICE ---*/
    .ui-slider .ui-slider-handle {
        border-radius: 3px;
    }

    .price_slider_amount .button {
        text-transform: uppercase;
    }

    .price_slider_amount .price_label {
        font-size: 1.6rem;
        font-weight: 200;
    }
}

/*-------------------*/

/*- #CAROUSEL CSS ---*/

#owl-demo .item img {
    display: block;
    width: 100%;
    /*height: auto;*/
    max-height: 550px;
    /*max-width: 1304px;*/
}

.owl-theme .owl-controls .owl-buttons div {
    padding: 0px 5px !important;
    border-radius: 10px !important;
}

div.owl-prev::before {
    content: "\f053";
    padding-right: 5px;
    font-family: FontAwesome;
}

div.owl-next::before {
    content: "\f054";
    padding-left: 5px;
    font-family: FontAwesome;
}

.owl-buttons {
    position: absolute;
    top: 40%;
    width: 100%
}

div.owl-prev {
    position: absolute;
    left: 0;
}

div.owl-next {
    position: absolute;
    right: 0;
}

.owl-pagination {
    position: absolute;
    bottom: 1%;
    width: 100%;
}

.owl-theme .owl-controls .owl-page span {
    background: #fff !important;
    /*border: 1px solid #fff*/
}

.footer-site .product_list_widget {
    font-size: 1.2rem;
}

.footer-site .product_list_widget li {
    padding-bottom: 8px;
    margin-bottom: 8px;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: none !important;
}

.product_list_widget li {
    overflow: hidden;
    position: relative;
}

.product_list_widget a {
    display: block;
    font-weight: 700;
}

.footer-site .product_list_widget img {
    float: right;
    margin-left: 10px;
}

.invert .amount {
    color: rgba(255, 255, 255, 0.95);
}

.page-template-builder .wrapper-content .widget.woocommerce {
    margin-top: 0;
    margin-bottom: 0;
    padding: 2% 20px;
}

.product-images .onsale,
.img-wrap .onsale,
.image-container .onsale,
.thumbnail-media .onsale {
    position: absolute;
    top: 10px;
    left: 10px;
}

.onsale {
    padding: 2px 8px;
    /*background: rgba(0, 0, 0, 0.2);*/
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    /*border-radius: 100px;*/
}

/*-------------------------------*/

/*- PRODUCT LIST WIDGET ---------*/

.product_list_widget li {
    overflow: hidden;
    position: relative;
}

.product_list_widget img {
    float: right;
    max-width: 70px;
}

.product_list_widget a {
    display: block;
    font-weight: 700;
}

/*Product page*/
.entry-title {
    font-size: 3.4rem;
}
.purchase-options-container [itemprop="offers"] .price {
    margin: 0px 0 10px;
    font-size: 2.4rem;
}
div[itemprop="description"] {
    margin-bottom: 20px;
    font-size: 2.0rem;
    color: #8F8F8F;
}
.thumbnails a, .thumbnails a:nth-child(4n+4) {
    width: 16.2%;
    display: inline-block;
    margin: 4% 4% 0 0;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: all ease-in-out 0.1s;
    overflow: hidden;
}
.product-images .thumbnails{
    margin: 0;
    width: 100% !important;
}
.woocommerce-tabs .tabs {
    text-align: center;
    overflow: hidden;
}
.woocommerce-tabs .tabs li{
    float:left;
}
.woocommerce-tabs .panel li{
    border: 0;
}
.woocommerce-tabs .tabs a {
    display: block;
    padding: 6px 0;
    color: #8F8F8F;
}
.products .thumbnail-media{
    border-radius: 6px;
}
.related h2{
    margin-bottom: 10px;
}
.related .thumbnail-body{
    padding:35px;
    background-color: transparent;
}
.related article{
    background: #fff;
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.tabcontent h2{
    font-size: 2.2rem;
}
.sub-menu2 li a{
    padding: 8px 25px;
}
/*ABout*/
#layers-widget-slide-10-903 {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-image: url('../images/slider-corner-table.jpg');
}
.old_price{
    color: #ccc !important;
    text-decoration: line-through !important;
    margin-right: 10px;
}